node_modules/
__pycache__/

.env
.env.*
!.env.example
!.env.telegram.template

data/
*.log
debug.log

check-gsuite.txt
hasil-checker.txt
verif-gsuite.txt
gsuite-kosong.txt
Hasil-Gdoku.txt
Result-*.txt
gsuite-gagal.txt
used_doku_numbers.txt

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
